{% extends 'dashboard/base.html' %}
{% block content %}

<body>
    
    <div class="container">
        <div class="row">
            {% for x in obj %}
            
            <div class="col-sm-4">
            <div class="card m-4" style="width: 18rem;">
                <img src="{{x.product_image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{x.title}}</h5>
                  <p class="card-text">Rs.{{x.sell_price}}/-</p>
                  <p class="card-text text-decoration-line-through text-muted">Rs.{{x.discounted_price}}/-</p>
                  <a href="{% url 'details' x.id %}" class="btn btn-primary">view details</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'add-to-cart' x.id %}" class="btn btn-success">Add to Cart</a>
                </div>
            </div>
            </div>
            {% endfor %}
        </div>
    </div>

    

</body>
{% endblock %}