{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
<header class="py-4">
    <div class="container text-center">
        <h1>Order Placed Successfully</h1>
    </div>
</header>
<main class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="alert alert-success fade-in animate__animated animate__fadeInDown" role="alert">
                    <strong>Congratulations!</strong> Your order has been successfully placed. Thank you for shopping with us!
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock %}